body{
    background-color:  #6699ff;
}

.judul{
    color: white;
    text-shadow: 2px 2px 2px #181818;
    font-size: 32px;
}

.isi{
    width: 300px;
    box-shadow: 8px 8px 8px #181818;
    border: 12px solid navy;
    padding: 48px;
}

.isi h2{
    color: white;
}
.isi li{
    font-family: Arial, Helvetica, sans-serif;
}